<%= form_with model: @property, html: { multipart: true } do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.label :bedrooms %>
  <%= form.number_field :bedrooms %>

  <%= form.label :bathrooms %>
  <%= form.number_field :bathrooms %>

  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :photos %>
  <%= form.file_field :photos, multiple: true, class: "border p-2 rounded" %>

  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>