<div class="bg-white shadow-sm rounded-lg overflow-hidden hover:shadow-md transition-shadow">
  <!-- Thumbnail -->
  <% if property.photos.attached? %>
    <% image = property.photos.first.variant(:card) %>

    <% if controller.action_name == "show" %>
      <%= image_tag image, class: "w-full h-82 object-cover" %>
    <% else %>
      <%= link_to property do %>
        <%= image_tag image, class: "w-full h-82 object-cover" %>
      <% end %>
    <% end %>

  <% else %>
    <div class="w-full h-48 bg-gray-200 flex items-center justify-center text-gray-500">
      No Photo Available
    </div>
  <% end %>

  <!-- Content -->
  <div class="p-4 space-y-2">
    <h2 class="text-xl font-semibold text-gray-900">
      <%= property.title %>
    </h2>

    <p class="text-blue-600 font-semibold text-lg">
      $<%= number_with_delimiter(property.price) %>
    </p>

    <p class="text-gray-600 text-sm">
      <%= property.address %>
    </p>

    <div class="flex items-center gap-4 text-gray-500 text-sm">
      <span><%= property.bedrooms %> bd</span>
      <span><%= property.bathrooms %> ba</span>
    </div>

    <% unless controller.action_name == "show" %>
        <%= link_to "View Details",
        property,
        class: "inline-block mt-3 text-blue-600 hover:underline font-medium" %>
    <% end %>
  </div>
</div>
