<p style="color: green"><%= notice %></p>
<h1><%= @property.title %></h1>
<%= render @property %>

<p>Price: $<%= @property.price %></p>
<p>Bedrooms: <%= @property.bedrooms %></p>
<p>Bathrooms: <%= @property.bathrooms %></p>
<p>Address: <%= @property.address %></p>
<p><%= @property.description %></p>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>

  <%= button_to "Destroy this property", @property, method: :delete %>
</div>

<p><%= link_to "Back", properties_path %></p>